{% extends 'layout.html' %} {% block body %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about.css') }}">
<div class="container">
    <div class="card">
      <!-- <div class="icon">
        <ion-icon name="globe-outline"></ion-icon>
      </div> -->
      <div class="content">
        <img src="static\img\Anshika.jpeg">
        <h2>Anshika Gupta</h2>
        <a href="https://www.linkedin.com/in/anshika-gupta-350244195/" target="_blank">1900300100036@gmail.com</a>
        <!-- <p>1900300100036@gmail.com</p> -->
        <p>3-A</p>
      </div>
    </div>
    <div class="card">
      <!-- <div class="icon">
        <ion-icon name="diamond-outline"></ion-icon>
      </div> -->
      <div class="content">
        <img src="static\img\Mendiratta.jpeg">
        <h2>Anshika Mendiratta</h2>
        <a href="https://www.linkedin.com/in/anshika-mendiratta-139565199/" target="_blank">1900300100037@gmail.com</a>
        <p>3-A</p>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <img src="static\img\Yashi.jpeg">
        <h2>Yashasvi Singh</h2>
        <a href="https://www.linkedin.com/in/yashasvi-singh-412244195/" target="_blank">1900300100257@gmail.com</a>
        <p>3-D</p>
      </div>
    </div>
    <div class="card">
        <div class="content">
          <img src="static\img\Vaibhav.jpeg">
          <h2>Vaibhav Srivastava</h2>
          <a href="https://www.linkedin.com/in/vaibhavsrivastavadev/" target="_blank">1900300100239@gmail.com</a>
          <p>3-D</p>
        </div>
      </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}