{% extends "layout.html" %} {% block body %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/uploaded.css') }}">
<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-1">Menu</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>General</h2>
                <div class="d-flex flex-wrap">
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Normal</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Grayscale</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Zoom In</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Zoom Out</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Rotate/Flip</h2>
                <div class="d-flex flex-wrap">
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('move_left') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Rotate Left</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('move_right') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Rotate Right</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('move_up') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Flip Up</button>
                        </form>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <form id="" action="{{ url_for('move_down') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary">Flip Down</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Description</h2>
                <div class="d-flex flex-wrap">
                    <div class="p-2 flex-fill bd-highlight">
                        <div class="p-2 flex-fill bd-highlight">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <td>
                                            <form id="" action="{{ url_for('brightness_multiplication') }}" method="POST"
                                                enctype="multipart/form-data">
                                                <button type="submit" class="btn btn-primary">Bright (*)</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form id="" action="{{ url_for('brightness_division') }}" method="POST"
                                                enctype="multipart/form-data">
                                                <button type="submit" class="btn btn-primary">Dark (/)</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <form id="" action="{{ url_for('brightness_addition') }}" method="POST"
                                                enctype="multipart/form-data">
                                                <button type="submit" class="btn btn-primary">Bright (+)</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form id="" action="{{ url_for('brightness_substraction') }}" method="POST"
                                                enctype="multipart/form-data">
                                                <button type="submit" class="btn btn-primary">Dark (-)</button>
                                            </form>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Image Analysis</h2>
                <div class="p-2 flex-fill bd-highlight">
                    <form id="" action="{{ url_for('histogram_rgb') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary">Histogram</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Image Filters</h2>
                <div class="p-2 flex-fill bd-highlight">
                    <form id="" action="{{ url_for('edge_detection') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary">Edge Detection</button>
                    </form>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <form id="" action="{{ url_for('blur') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary">Blur</button>
                    </form>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary">Sharpening</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Image Processing</h2>
                <div class="p-2 flex-fill bd-highlight">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <form id="" action="{{ url_for('histogram_equalizer') }}" method="POST" enctype="multipart/form-data">
                                    <button type="submit" class="btn btn-primary">Histogram Equalizer</button>
                                </form>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container2">
                <div class="row2">
                    {% if file_paths[2] %}
                    <div class="his_img col-md-5">
                        <h3>Image RGB</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}" alt="image here">
                    </div>
                    <div class="column">
                    <div class="col-md-5">
                        <h3>Red Histogram</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}" alt="image here">
                    </div>
                    <div class="col-md-5">
                        <h3>Green Histogram</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename=file_paths[1]) }}" alt="image here">
                    </div>
                    <div class="col-md-5">
                        <h3>Blue Histogram</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename=file_paths[2]) }}" alt="image here">
                    </div>
                    {% else %}
                    <div class="col-md-5">
                        <h3>Image Greyscaled</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}" alt="image here">
                    </div>
                    <div class="col-md-5">
                        <h3>Black Histogram</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}" alt="image here">
                    </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<style>
</style>
{% endblock %}