*{
    color: white;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

nav{
    background: rgb(40,123,255);
    background: linear-gradient(90deg, rgba(40,123,255,1) 0%, rgba(40,123,255,1) 34%, rgba(255,255,255,1) 100%);
}

a:hover {
    font-weight: 500;
    color: white;
}